* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;   /* Centers the forms vertically */
    align-items: center;       /* Centers the forms horizontally */
    /* height: 100vh;             Makes the container fill the viewport */
}

form {
    width: 400px;
    padding: 10px;
    background-color: #f9f9f9; /* Optional: Add background color for the form */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

label, input {
    display: block;
    margin-bottom: 3%;
    width: 100%;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50; /* Optional: Change button color */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.9rem;
}
